/* BEACH COLOR PALETTE
pale green
color: #96ceb4;
sand yello
color: #ffeead;
pink orange
color: #ff6f69;
orange
color: #ffcc5c;
green
color: #88d8b0;



olive green
color: #588c7e;
sand yellow
color: #f2e394;
sun orange
color: #f2ae72;
light brown
color: #d96459;
*/

* {
    padding: 0;
    margin: 0;
}

body {
    /*border: solid black;*/
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    height: 100vh;
    background-color: #f2e394;

}


/* NAVBAR STYLES */
.navbar {
    border: solid #588c7e;
    background-color: azure;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 98.8vw;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.right-side {
    /*border: solid red;*/
    /*margin-right: 1rem;*/
}

.left-side {
    /*margin-left: 1rem;*/
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link-wrapper {
    margin-right: .5em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    /*border: solid red;*/
}

.nav-link-wrapper a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
.nav-link-wrapper:hover a{
    /*color: grey;*/
    color: dodgerblue
}



/* BURGER */
.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #588c7e;
    margin: 5px;
}

@media only screen and (max-width: 550px) {
    .left-side {
        position: absolute;
        left: 0;
        height: 100vh;
        top: 60px;
        background-color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        opacity: 90%;
    }


    body {
        overflow-x: hidden;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}


/* CONTAINER STYLES */
.container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid salmon;*/
    /* scroll */
}

/* SECTION STYLES */
 section {
    width: 90vw;
    margin: 20px 0px;
    box-shadow: 2px 2px 2px 2px;
    padding: 40px 10px;
    /*background-color: #96ceb4;*/
 }


 .section-header {
    text-align: center;
    /*color: #588c7e;*/
    color: dodgerblue;
    margin: 10px 0px;
    font-size: 2.5rem;
 }





/* About Page Styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid green;
}

.profile-image-wrapper {
    width: auto;
    /*width: 240px;*/
    /*height: 240px;*/
    /*border-radius: 100%;*/
    /*border: solid black;*/
}

.profile-image-wrapper img {
    width: 240px;
    height: 240px;
    /*border: solid green;*/

    /*to center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-content-wrapper {
    padding: 30px;
    /*border: solid coral;*/
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

.social-media-buttons {
    border: solid #588c7e;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 0px 10px;

  /*background-color: #f2e394;*/
  color:#588c7e ;
}




/* PROJECT STYLE */
/* projects displayed as horizontal boxes */
.projects-list { 
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.project-wrapper {
    /*border: solid blue;*/
}


/*fits the image itself unless u wanna specify this*/
/*pointer so they know it is clickable*/
/*position relative so we can position absolute the details over it*/
.project-image-wrapper {
    width: fit-content;
    cursor: pointer;
    position: relative;
    
}

/*square img, darkens over hover*/
.project-image-wrapper img {
    width: 240px;
    height: 240px;
    transition: 0.3s;
}
.project-image-wrapper:hover img{
    filter: brightness(10%);
}

/*must be bold and centered*/
.project-header {
    text-align: center;
    position: absolute;
    color: azure;
    top: 20%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}

/*maybe better if project details was a div*/
/*then using col flex box i can center both the header and the details*/
.project-details {
    color: dodgerblue;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}
.project-image-wrapper:hover .project-details {
    opacity: 100;
}

.project-image-wrapper:hover .project-header {
    opacity: 100;
}





/* SKILLS */
.skills-subsections {
    display: flex;
    justify-content: space-around;

}

.skills-subsection-header {
    text-align: center;
}

.skills-subsection {
    /*border: solid gold;*/
    display: flex;
    flex-direction: column;
}

.skills-subsection-list {
    list-style-type: none;
    text-align: center;
}

.logo-wrapper img {
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}




/* RESPONSIVE */
@media only screen and (max-width: 550px) {
    .projects-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .two-column-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .profile-image-wrapper {
        grid-row-start: 1;
        grid-row-end: 2;
    }

}
